<div class="piexl-container">
  <div class="pixel-block-container">
    <svg width="272" height="130">
      <g transform="translate(2, -10)">
        <g
          *ngFor="let block of rows; index as r"
          [attr.transform]="getTransform(r)"
        >
          <rect
            *ngFor="let block of columns; index as c"
            class="pixel"
            [attr.width]="piexlSize"
            [attr.height]="piexlSize"
            [attr.x]="c * offset"
            y="15"
            [attr.fill]="getFillColor(r, c)"
          ></rect>
        </g>
      </g>
    </svg>
  </div>
</div>
